body {
    background: 
        linear-gradient(to bottom, rgba(10, 53, 75, 0.8), rgba(17, 55, 74, 0) 80%),
        linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(17, 55, 74, 0) 80%),
        radial-gradient(circle, rgba(50, 100, 120, 0.8) 0%, rgba(43, 80, 88, 1) 80%, rgba(9,35,45,1) 100%),
        radial-gradient(at top left, rgba(0, 0, 0, 0.5), transparent 70%),
        radial-gradient(at top right, rgba(0, 0, 0, 0.5), transparent 70%),
        radial-gradient(at bottom left, rgba(0, 0, 0, 0.5), transparent 50%),
        radial-gradient(at bottom right, rgba(0, 0, 0, 0.5), transparent 50%);
    font-family: Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: 100;
    margin: 0;
    color: white;
    height: 100vh;
    overflow: hidden;
}

/* Background */
#skull-image {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    opacity: 0.1;
    filter: brightness(10%) blur(2px);
    height: 100vh;
    justify-self: center;
}

.triangle {
    position: absolute;
    z-index: 0;
    transition: transform 0.2s ease-out;
    pointer-events: none;
}

#triangle-1 {
    top: 0;
    left: 20%;
    transform: rotate(0deg);
}

#triangle-2 {
    top: 50%;
    left: 30%;
    transform: rotate(180deg);
}

#triangle-3 {
    top: 0;
    left: 40%;
    rotate: 180deg;
    transform: rotate(0deg);
}

#triangle-4 {
    top: 50%;
    left: 50%;
    transform: rotate(180deg);
}

#triangle-5 {
    top: 0;
    left: 60%;
    transform: rotate(0deg);
}
