body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 2fr 1fr 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Grids */
header {
    position: relative;
    z-index: 10;
    grid-area: 1 / 1 / 2 / 3;
}

#sidebar {
    position: relative;
    z-index: 10;
    grid-area: 2 / 1 / 4 / 2;
}

#list {
    position: relative;
    z-index: 10;
    grid-area: 2 / 2 / 3 / 3;
}

#details {
    position: relative;
    z-index: 10;
    grid-area: 3 / 2 / 4 / 3;
}

footer {
    position: relative;
    z-index: 10;
    grid-area: 4 / 1 / 5 / 3;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#title {
    display: flex;
    background-color: rgba(6, 5, 11, 0.3);
    padding-right: 40px;
}

#logo {
    height: 100%;
    max-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(6, 5, 11, 0.9);
    filter: brightness(300%);
}

#header #page-name {
    margin: 0;
    background: linear-gradient(to right, rgb(228, 128, 34), rgb(216, 91, 1) 50%);
    padding-right: 20px;
    height: fit-content;
}

/* Summary */
#summary {
    display: inline-block;
    background-color: rgba(7, 6, 12, 1);
    padding-right: 20%;
}

/* Connection to backend status */
#connection {
    width: 20%;
    text-align: right;
    background-color: rgba(7, 6, 12, 1);
}

#sidebar label {
    display: block;
    margin-top: 10px;
}

#sidebar input[type="text"], #sidebar input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#sidebar .checkbox-container input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

#servers-table {
    width: 100%;
    border-collapse: collapse;
}

#servers-table th, #servers-table td {
    padding: 8px;
}

#servers-table th {
    cursor: pointer;
    background-color: rgb(7, 6, 12);
}

#servers-table th:hover {
    background-color: rgb(31, 30, 36);
}

#servers-table tr {
    background-color: rgba(11, 20, 29, 0.4);
}

#servers-table tr:hover {
    background-color: rgba(11, 20, 29, 1);
}
